@import 'https://fonts.googleapis.com/css?family=Roboto:400,700,900';


.cf::before, .cf::after { content: " "; display: table; }
.cf::after { clear: both; }
.text-center { text-align: center; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
[class^="col-"], [class*=" col-"] { float: left; min-height: 1px; }
[class^="col-"] + [class^="col-"], [class^="col-"] + [class*=" col-"], [class*=" col-"] + [class^="col-"], [class*=" col-"] + [class*=" col-"] { margin-left: 1.05263%; }
audio, img, svg, object, embed, canvas, video, iframe { max-width: 100%; display: inline-block; vertical-align: middle; }
button:focus { outline: none; }
body { box-sizing: border-box; color: rgb(77, 77, 77); margin: 0px auto -64px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 16px; line-height: 24px; font-family: Roboto; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background: rgb(234, 234, 234); }
body *, body ::before, body ::after { box-sizing: inherit; }
a, button, input, select, textarea { outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
a:focus, button:focus, input:focus, select:focus, textarea:focus { outline: none; }
a { text-decoration: none; }
button { padding: 0px; border: none; background: none; }
html { height: 100%; }
.main-user-nav .button { font-size: 17px; }
.newsletter-form-feedback p .button { font-size: 24px; }
.loading-layer { overflow: hidden; position: relative; }
.loading-layer::before { content: ""; top: -10%; bottom: -10%; right: -10%; left: -10%; position: absolute; z-index: 25; opacity: 0; pointer-events: none; transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; background: rgba(0, 0, 0, 0.701961); }
.loading-layer::after { font-size: 35px; content: ""; display: inline-block; animation: loading-glass-animation 1s cubic-bezier(0.4, 0, 0.2, 1) infinite; width: 40px; height: 60px; top: 0px; right: 0px; bottom: 0px; left: 0px; margin: auto; position: absolute; z-index: 30; opacity: 0; pointer-events: none; transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; background: url("../img/icon-loading-white.png") 0% 0% / 100% no-repeat; }
.button { font-family: Roboto; font-weight: 500; font-size: 18px; display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -webkit-user-drag: none; text-align: center; text-decoration: none; vertical-align: middle; white-space: nowrap; height: 53px; line-height: 1; color: rgb(0, 0, 0); border: 2px solid rgb(0, 0, 0); text-transform: uppercase; padding: 15px 20px; transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; background: rgb(241, 244, 19); }
.button:hover, .button:focus { outline: none; opacity: 0.8; }
.button.button-form { transition: all 0.2s ease-out; }
.button.button-form:hover { opacity: 1; color: rgb(255, 255, 255); background: rgb(0, 0, 0); }
.button.button-buscar-home { border: 1.6px solid rgb(255, 255, 255); height: 70px; text-align: right; background: rgb(255, 255, 255); }
.button.button-buscar-home img { width: 40px; }
.button.button-buscar-home:hover, .button.button-buscar-home:focus { opacity: 1; background-color: rgb(255, 255, 255); }
.button#confirm-address-action, .button#find-address-action { height: 95px; }
.button .btn-lg { min-width: 185px; }
[class^="icon-"]::before, [class*=" icon-"]::before, [class^="icon-"]::after, [class*=" icon-"]::after { content: ""; width: auto; height: auto; padding: 0px; margin-top: 0px; display: inline-block; border: none; backface-visibility: hidden; overflow: hidden; line-height: normal; margin-right: 10px; vertical-align: middle; background-color: transparent; background-size: 100%; background-repeat: no-repeat; }
[class^="icon-"]::after, [class*=" icon-"]::after { content: none; margin-right: auto; margin-left: 10px; }
.icon-arrow-beer { text-align: center; margin: 0px auto; }
.icon-arrow-beer p { text-align: center; font-size: 14px; color: rgb(0, 0, 0); }
.icon-aqui { text-align: center; margin: 0px auto; }
.icon-aqui p { text-align: center; font-size: 14px; color: rgb(0, 0, 0); }
.icon-beer { text-align: center; margin: 0px auto; }
.icon-beer p { text-align: center; font-size: 25px; color: rgb(0, 0, 0); }

.icon-arrow-beer::before, .icon-arrow-beer::after, .icon-arrow-beer.ir { width: 37px; height: 112px; background-image: url("../img/arrow-beer.png"); }
.icon-buscar-cep::before, .icon-buscar-cep::after, .icon-buscar-cep.ir { width: 12px; height: 18px; background-image: url("../img/icon_gps.png"); }
.highlight-link { font-size: 23px; text-transform: uppercase; color: rgb(218, 32, 33); display: inline-block; }
.form { margin-bottom: 16px; margin-top: 5px; }
.form fieldset { margin: 0px; padding: 5.6px 0px 12px; border: none; }
.form legend { padding: 4.8px 4.8px 4.8px 0px; margin-bottom: 16px; display: block; }
.form label { margin: 1.6px 0px 3.2px; display: block; }
.form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="email"], .form input[type="file"], .form input[type="month"], .form input[type="number"], .form input[type="password"], .form input[type="range"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="time"], .form input[type="url"], .form input[type="week"], .form textarea, .form select, .form .input-style { font-size: 18px; display: inline-block; height: 53px; width: 100%; padding: 10px 25px; color: rgb(0, 0, 0); border: none; border-radius: 0px; font-family: Roboto, sans-serif; background: rgb(255, 255, 255); }
.form input[type="color"]:focus, .form input[type="date"]:focus, .form input[type="datetime"]:focus, .form input[type="datetime-local"]:focus, .form input[type="email"]:focus, .form input[type="file"]:focus, .form input[type="month"]:focus, .form input[type="number"]:focus, .form input[type="password"]:focus, .form input[type="range"]:focus, .form input[type="search"]:focus, .form input[type="tel"]:focus, .form input[type="text"]:focus, .form input[type="time"]:focus, .form input[type="url"]:focus, .form input[type="week"]:focus, .form textarea:focus, .form select:focus, .form .input-style:focus { outline: none; }
.form input[type="number"]::-webkit-inner-spin-button, .form input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0px; }
.form textarea { resize: vertical; }
.form select { -webkit-appearance: none; padding: 0px 10px; position: relative; background: url("../img/icon-mini-arrow-black-margin.png") right 50% / 16px no-repeat rgb(255, 255, 255); }
.form select[multiple] { height: auto; }
.form .field-holder { margin-bottom: 20px; position: relative; }
.form .field-holder::before, .form .field-holder::after { content: " "; display: table; }
.form .field-holder::after { clear: both; }
.form .field-holder.no-margin { margin-bottom: 0px; }
.form .field-holder [class^="col-"] + [class^="col-"], .form .field-holder [class*=" col-"] + [class^="col-"], .form .field-holder [class^="col-"] + [class*=" col-"], .form .field-holder [class*=" col-"] + [class*=" col-"] { padding-left: 1%; }
.form .field-holder.spaced { padding-left: 1%; }
.form .field-holder.spaced + .field-holder { padding-left: 1%; }
.form .input-wrapper { position: relative; font-size: 18px; display: inline-block; height: 53px; width: 100%; padding: 10px 25px; color: rgb(0, 0, 0); border: none; border-radius: 0px; font-family: Roboto, sans-serif; background: rgb(255, 255, 255); }
.form .input-wrapper:focus { outline: none; }
.form .input-wrapper input, .form .input-wrapper select, .form .input-wrapper textarea { padding: 0px; border-radius: 0px; border: none; width: 100%; height: 38px; }
.form .input-wrapper[class^="icon-"], .form .input-wrapper[class*=" icon-"] { padding-left: 45px; }
.form .input-wrapper[class^="icon-"]::before, .form .input-wrapper[class*=" icon-"]::before { position: absolute; top: 0px; bottom: 0px; left: 12px; margin: auto; }
.form .input-wrapper.dropdown::after { content: ""; width: 13px; height: 7px; top: 0px; bottom: 0px; right: 20px; margin: auto; position: absolute; background: url("../img/icon-arrow-dropdown.png") 0% 0% / 100%; }
.form .input-wrapper.textarea { height: 230px; }
.form .input-wrapper.textarea textarea { height: 210px; }
.form .error-message { color: rgb(173, 71, 71); text-align: center; margin: 10px; line-height: 1; }
.form .error-message a { text-decoration: underline; color: rgb(173, 71, 71); transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; }
.form .error-message a:hover, .form .error-message a:active { color: rgb(200, 121, 121); }
.form .placeholder { color: rgb(190, 190, 190); text-transform: uppercase; }
.form ::-webkit-input-placeholder { color: rgb(190, 190, 190); text-transform: uppercase; }
.form .custom-radio input { display: none; }
.form .custom-radio input + label { -webkit-appearance: none; width: 41px; height: 41px; border-radius: 50%; border: 2px solid rgb(0, 0, 0); box-shadow: rgb(255, 255, 255) 0px 0px 0px 8px inset; margin: 10px 0px 0px; transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgb(255, 255, 255); }
.form .custom-radio input:checked + label { background: rgb(218, 32, 33); }
.form .custom-radio label { float: left; margin: 0px 0px 0px 20px; }
.form .field-error input[type="color"], .form .field-error input[type="date"], .form .field-error input[type="datetime"], .form .field-error input[type="datetime-local"], .form .field-error input[type="email"], .form .field-error input[type="file"], .form .field-error input[type="month"], .form .field-error input[type="number"], .form .field-error input[type="password"], .form .field-error input[type="range"], .form .field-error input[type="search"], .form .field-error input[type="tel"], .form .field-error input[type="text"], .form .field-error input[type="time"], .form .field-error input[type="url"], .form .field-error input[type="week"], .form .field-error textarea, .form .field-error select { color: rgb(180, 52, 52); border: 1px solid rgb(180, 52, 52); background: rgb(224, 87, 87); }
.form .field-error ::-webkit-input-placeholder { color: rgb(180, 52, 52); font-weight: bold; }
.form .spacer-top { margin-top: 20px; }
formm-box { padding: 33px; border: 1px solid rgb(184, 184, 184); border-radius: 5px; background: rgb(237, 237, 237); }
formm-box .field-holder { margin-bottom: 20px; }
formm-box .field-holder::before, formm-box .field-holder::after { content: " "; display: table; }
formm-box .field-holder::after { clear: both; }
formm-box .field-holder label { display: block; margin-bottom: 8px; }
formm-box input[type="radio"], formm-box input[type="checkbox"] { -webkit-appearance: none; width: 14px; height: 14px; border-radius: 5px; display: inline-block; border: 1px solid rgb(184, 184, 184); box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 2px inset; transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; background: rgb(255, 255, 255); }
formm-box input[type="radio"]:checked, formm-box input[type="checkbox"]:checked { box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset; background: rgb(184, 184, 184); }
formm-box label { color: rgb(88, 90, 96); text-transform: uppercase; font-weight: bold; }
formm-box label span { font-weight: normal; }
formm-box ::-webkit-input-placeholder { color: rgb(167, 167, 167); }
.contrast-message .form-error-message::before { background-image: url("../img/icon-error-form-red.png"); }
.contrast-message .field-error-message::before { background-image: url("../img/icon-error-input-red.png"); }
.contrast-message .field-error::before { background-image: url("../img/icon-error-input-red.png"); }
.form .only-cep.dirty { font-weight: bold; font-size: 30px; }
.cep-home.field-error .only-cep { border: none; }
.cep-home.field-error:focus .only-cep { background: rgb(0, 0, 0); }
.form .field-error input[type="tel"].only-cep:focus { background: rgb(0, 0, 0); }
.cep-submit-error .button, .cep-submit-error .button:focus, .cep-submit-error .button:hover { border: none; color: rgb(180, 52, 52); background: rgb(224, 87, 87); }
.form #confirm-address-cep { font-weight: bold; font-size: 19px; }
.form .focus-campo-cep .only-cep { font-weight: bold; font-size: 30px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
.form .cep-wrapper { display: table; }
.form .cep-wrapper .field-holder { width: 86%; display: table-cell; }
.form .cep-wrapper .cep-btn { width: 120px; }
.form .cep-wrapper .cep-btn button { padding: 10px; }
.find-address-steps.step-2 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-3 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-4 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-5 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-6 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-7 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-8 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-9 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-10 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-steps.step-11 .find-address-step-1 { transform: translate3d(-100%, 0px, 0px); }
.find-address-step-1 { transform: translate3d(0px, 0px, 0px); }
.find-address-step-item { 

    position: relative; 
    width: 100%;
    float: left;
    top: 0px;
    right: 0px; 
    bottom: 0px;
    left: 0px; 
    border-color: rgb(218, 32, 33); 
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; 
    background: rgb(241, 244, 19);
}
.find-address-step-item ::-webkit-input-placeholder { color: rgb(190, 190, 190); }
.cep-home input { font-size: 18px; width: 100%; }
.cep-home input:focus { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
.cep-home::before { content: ""; background: none; }
.focus-campo-cep button.button, .focus-campo-cep button.button:hover { color: rgb(255, 255, 255); border: none; background-color: rgb(0, 0, 0); }
.form .only-cep, .form input[type="tel"].only-cep { height: 95px; line-height: 95px; font-family: Roboto; }
.find-address-area { min-height: 381px; position: relative; margin: 0px auto; }
.find-address-area h2 {
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;}
.find-address-area-wrap { margin: 10px; }
.find-address-area-wrap > .icon-beer {        margin: 36px auto 55px; }
.find-address-area-wrap .icon-aqui { margin-bottom: 10px; }
.find-address-area-wrap .icon-arrow-beer { margin-bottom: 40px; }
.page-partner .find-address-area-wrap { margin: 24px 16px; }
.page-partner .find-address-area-wrap > .icon-beer { margin: 30px auto; }
.page-partner .find-address-form .highlight-link { margin-top: 2px; }
.find-address-form { position: relative; }
.find-address-form .highlight-link { font-family: Roboto, sans-serif; font-size: 14px; font-weight: bold; margin-top: 12px; color: rgb(0, 0, 0); }
.find-address-form .form-error-message { color: rgb(0, 0, 0); padding-left: 0px; }
.find-address-form .form-error-message::before { content: none; width: auto; height: auto; padding: 0px; margin: 0px; background: none; }
.find-address-form .cep-submit .button-form img { max-width: 30px; width: 30px; padding-left: 5px; }
.comece-aqui { margin: 0px auto 10px; text-align: center; font-size: 20px; color: rgb(0, 0, 0); }
.product-add-dialog > .form { margin-bottom: 0px; }
.cart-content-body button.button { float: right; margin-top: 30px; letter-spacing: 2px; }
.cart-discount .field-holder { margin-bottom: 0px; }
.cart-discount .field-holder > label { display: inline-block; }
.cart-discount form > .field-holder { padding: 8px 0px; }
.cart-product-delete-dialog button.button { margin-top: 0px; }
.cart-address-info .row { font-size: 16px; color: rgb(0, 0, 0); }
.cart-content-footer .row { border-top: 1px solid rgb(204, 204, 204); }
.cart-content-footer .row > div { height: 68px; line-height: 68px; vertical-align: middle; padding: 0px; }
.cart-content-footer .row .red { color: rgb(218, 32, 33); }
.discountButton.button { min-width: 89px; border: 0px; height: 53px; }
.main-login-holder .button { font-weight: normal; }
.forgot-passowrd-form-feedback p .button { font-size: 12px; }
blockquote { margin: 4.8px 0px; padding: 20px 10px; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 28px; line-height: normal; font-family: Roboto-Black, sans-serif; quotes: "“" "”" "‘" "’"; width: 110%; background: rgb(241, 244, 19); }
blockquote ::before { color: rgb(0, 0, 0); content: open-quote; line-height: 1.6px; margin-right: 4px; vertical-align: -6.4px; }
blockquote p { display: inline; }
.service.row { margin-top: 30px; margin-bottom: 30px; }
.service.row span { text-transform: uppercase; }


.cont-resultados{
    background: black;
    width: 100%;
    float: left;
    padding: 0px 0;
}


 #map {
       width: 100%;
       height: 70vh;
      }

.logo{
    font-size: 40px;
    font-weight: 800;
    
}